{% extends 'blog/base.html' %}
{% block content %}
<h2>About the website</h2>
<p>This is a simple blog website made using Django.</p>
<p>Features of the website</p>
<ul>
  <li>Smooth minimal UI</li>
  <li>Robust Backend</li>
  <li>Different levels of read/write access</li>
  <li>#To test the admin access, Login using the following credentials <br>Username: amit <br>Password: amitdethe</li>
</ul>

<hr>

<h2>About the Creator</h2>
<h3>Amit Dethe</h3>
<h4>I am a Full Stack Web Developer based in Mumbai, currently studying in Manipal University Jaipur. I can deliver creative UI, UX and back-end solutions across e-commerce, marketing and non-profit websites. My background includes not only web
  development but also game development.</h4>
<h4><a href="https://protected-ocean-12953.herokuapp.com/">Check out my work</a></h4>


{% endblock %}